/*!
Theme Name:   tienda theme
Theme URI:    https://localhost:8888/tienda/
Author:       Ismael hdz
Author URI:   https://raven.es/
Template:     wp-bootstrap-starter
Description:  wp-bootstrap-starter is the perfect theme for your next WooCommerce project. Designed and developed by WooCommerce Core developers, it features a bespoke integration with WooCommerce itself plus many of the most popular customer facing WooCommerce extensions. There are several layout & color options to personalise your shop, multiple widget regions, a responsive design and much more. Developers will love its lean and extensible codebase making it a joy to customize and extend. Looking for a WooCommerce theme? Look no further!
Version:      1.0
License:      GNU General Public License v2 or later
License URI:  https://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  storefront
Tags:         e-commerce, two-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, threaded-comments, accessibility-ready, rtl-language-support, footer-widgets, sticky-post, theme-options, editor-style

*/
#main-nav{

    display: block!important;

}

.dropdown-cart-button
{
    position: absolute;
    top: 15px;
    right: 10px;

}

.sku_wrapper{

	font-weight: bold;
    text-align: right;
    font-size: 18px;
}


.add_to_cart_button {
    background-color: #FF0000!important;
    color: #fff!important;
    border-color: #FF0000!important;
}

.single_add_to_cart_button{
	background-color: #FF0000!important;
    color: #fff!important;
    border-color: #FF0000!important;
    font-size: 82%!important;

}

.btn {
    background-color: #FF0000!important;;
    border: none!important;
    color: white!important;
    padding: 5px 5px!important;
    font-size: 16px!important;
    cursor: pointer!important;
}


.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
}


.img_slider{
    background: url('/tienda/wp-content/themes/tienda-1/img/imagen1.jpg');
    
    background-size: cover;
}

.img_slider2{
    background: url('/tienda/wp-content/themes/tienda-1/img/imagen1.jpg');
    height: 500px;
    background-size: cover;
}

.img_slider3{
    background: url('/tienda/wp-content/themes/tienda-1/img/10-26.jpg');
    height: 500px;
    background-size: cover;
}

#content.content-header{padding: 0px;}

.icon{

    width: 30px;
}

.boton{

    width: 30px;
}


.ii{
    width: 0px;
    border: 1px solid red;
    display: inline-block;

}


.azul{
        background: url('/tienda/wp-content/themes/tienda-1/img/blanco.png');
        background-size: cover;
        width: 544px;
        height: 496px;
        padding-left: 100px;
       
}


.azul2{
    background: url('/tienda/wp-content/themes/tienda-1/img/7.png');
    background-size: cover;
    background-color: white;
   

}


.ta-img{

}


.ultimo-img{
    padding-left: 0px;
    padding-right: 0px;
    width: 100px;
    height: 324px;
}

.back-1{
    background: #5D6D7E;
    padding: 25px;
}


.seccion1{
    background: url('/tienda/wp-content/themes/tienda-1/img/color3.jpg');
    min-height: 27px;


}

.seccion2{
    background: url('/tienda/wp-content/themes/tienda-1/img/blanco.png');
    min-height: 27px;

}

.seccion1-1{
    background: url('/tienda/wp-content/themes/tienda-1/img/lentes.jpg');

}

.seccion2-2{
    background: url('/tienda/wp-content/themes/tienda-1/img/bolsa.jpg');
}

.img-1{
    background: url('/tienda/wp-content/themes/tienda-1/img/color1.jpg');
    background-size: cover;
   
    

}

.img-2{
    background: url('/tienda/wp-content/themes/tienda-1/img/color2.jpg');
    background-size: cover;
   
   

}

.img-3{
    background: url('/tienda/wp-content/themes/tienda-1/img/color3.jpg');
    background-size: cover;
   
  

}

.img-4{
    background: url('/tienda/wp-content/themes/tienda-1/img/color4.jpg');
    background-size: cover;
   

}



.edit{

}


.full_width{
    padding: 5px;
}

.btn2 {
    background-color: #FF0000!important;
    border: none!important;
    color: white!important;
    padding: 5px 5px!important;
    font-size: 16px!important;
    cursor: pointer!important;
    width: 260px !important;
}

.pa{
    padding-top: 150px;

}



.seccion4{
    background: url('/tienda/wp-content/themes/tienda-1/img/imagen1-1-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 380px;
    display: grid;
    position: relative;


}

.seccion5{
    background: url('/tienda/wp-content/themes/tienda-1/img/2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 380px;
    display: grid;
    position: relative;
}


.hh1 {
  background-color: #ffffffad;
     margin-top: 170px;
}


.containerback:hover {
    background: #33333394;
    */: ;
    min-height: 380px;

}

.seccion1-1{
    background: url('/tienda/wp-content/themes/tienda-1/img/13-9.jpg');
    background-size: cover;
    min-height: 400px

    
}

.seccion2-1{
    background: url('/tienda/wp-content/themes/tienda-1/img/imagen3-3.jpg');
    background-size: cover;
    min-height: 400px

}

.seccion3-1{
    background: url('/tienda/wp-content/themes/tienda-1/img/imagen4-4.jpg');
    background-size: cover;
    min-height: 400px

}

.seccion4-1{
    background: url('/tienda/wp-content/themes/tienda-1/img/imagen1-3.jpg');
    background-size: cover;
    min-height: 400px


}

.hh2 {
  background-color: #00bcd478;
   margin-top: 100px;
       height: 26px;

}


.containerback2:hover {
    background: #33333394;
    */: ;
    min-height: 27px;

}



.btn3 {
    background-color: #FF0000!important;
    border: none!important;
    color: white!important;
    padding: 5px 5px!important;
    font-size: 16px!important;
    cursor: pointer!important;
    width: 160px !important;
}

.t-sli{
   
    margin-top: -12px!important;
    
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    height: 400px;
}


.btn4 {
    background-color: #553856!important;
    border: none!important;
    color: white!important;
    padding: 5px 5px!important;
    font-size: 16px!important;
    cursor: pointer!important;
    width: 160px !important;
}

.vii
{
        height: 800px;
    margin-top: 300px;
}
}




@media only screen and (max-width: 800px) {

.carousel-caption {

    height: 150px;
}


.seccion4, .seccion5 {
    height: 180px;
    min-height: 180px;
        margin-bottom: 20px;
}


.hh1 {
    margin-top: 90px;
}

.col-sm-4 .tarjetas{
    width: 25px;
}

.seccion1-1 .seccion2-1 .seccion3-1 .seccion4-1{
    min-height: 356px;
    
}

.hh2{
       margin-top: 0px;
       height: 23px;
}

.grid{
    margin-bottom: 20px;
}
.tarjetas{
    width: 130px;
}

.tarjetas2{
    width: 110px;
}


.img_slider2 {
    background: url(/tienda/wp-content/themes/tienda-1/img/imagen1.jpg);
    height: 200px;
    background-size: cover;
}

.img_slider3 {
    background: url(/tienda/wp-content/themes/tienda-1/img/10-26.jpg);
    height: 200px;
    background-size: cover;
}

.pa {
    padding-top: 54px;
}

center.containerback2 {
    padding-top: 211px;
}

.azul2{
    height: 400px;

}

.tamano-img {
    width: 100%;
    margin-top: 20px;
}

.wpcf7-mail-sent-ok {
    color: #fff;
    border: 2px solid #ffffff;
}

.label {
    display: inline-block;
    margin-bottom: .5rem;
    color: white;
}

}

.white-slider{
    color: #fff;
    z-index: 10;
}


.slider_video {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}


.slider_video video {
position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}



.slider_video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 1;
}



@media (pointer: coarse) and (hover: none) {
  .slider_video {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  .slider_video video {
    display: none;
  }
}























