                                                                                     @font-face{
font-family: 'Raleway', sans-serif;
}
p{
  font-family: 'Raleway', sans-serif;
}
h1{
  font-family: 'Raleway', sans-serif;
}
b{
  font-family: 'Raleway', sans-serif;
}
li{
font-family: 'Raleway', sans-serif;
}
.btn-outline{
font-family: 'Raleway', sans-serif;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



/*----------------------------------------------------------------*/
/*Seccion01/
 /*flexbox------seccion1*/
.flexboxs{ /*padre*/
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:center; 
}
/*flexboxhijo--seccion1*/
.boxs{ /*hijo*/
  flex-shrink: 0;
  width: 100%;
}
.lists{
  list-style: none;
}
.slider {
     width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  
  animation: cambio 20s infinite alternate linear;
}

.slider li {
  width: 100%;
  list-style: none;
}

.imgs{
  width: 100%;
}
@keyframes cambio {
  0% {margin-left: 0;}
  20% {margin-left: 0;}
  
  25% {margin-left: -100%;}
  45% {margin-left: -100%;}
  
  50% {margin-left: -200%;}
  70% {margin-left: -200%;}
  
  75% {margin-left: -300%;}
  100% {margin-left: -300%;}
}

/*----------------------------------------------------------------*/
/*Seccion01/
 /*flexbox------seccion1*/
.flexboxs1{ /*padre*/
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:center; 
}
/*flexboxhijo--seccion1*/
.boxs1{ /*hijo*/
  flex-shrink: 0;
    width: 100%;
}
.divs1{
   width: 100%;
}
/*----------------------------------------------------------------*/
/*Seccion2/
 /*flexbox------seccion2*/
.flexboxs2{ /*padre*/
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:center; 
}
/*flexboxhijo--seccion2*/
.boxs2{ /*hijo*/
  flex-shrink: 0;
    width: 100%;
}
.divs2{
   width: 100%;
}
.container1{
  margin: 0 auto;
  width: 1100px;
}
.blues2{
  color: #498bcf;
}
/*----------------------------------------------------------------*/
/*Seccion3/
 /*flexbox------seccion3*/
.flexboxs3{ /*padre*/
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:center; 
}
/*flexboxhijo--seccion3*/
.boxs3{ /*hijo*/
  flex-shrink: 0;
    width: 50%;
}
.images3{
  width: 100%;
}
.imgs3{
    width: 50%;
    padding: 15px;
}
.divs3-1{
   width: 50%;
   float: right;
   background: #498bcf;
}
.dates{
 border-bottom: 1px solid #f0f0f0;
        color: #498bcf;
        padding: 20px 0;
    position: relative;
    font-size: 28px;
    width: 90%;
}
.dates2{
  padding: 20px 0;
  font-size: 28px;
  width: 80%;
  border-bottom: solid 1px #D5D8DC;
  color: white;
  width: 80%;

}
.lists3{
  list-style: none;
}
/*.txt3{
      margin-left: 40px;
    margin-top: -20px;
}*/
.p-list{
  border-bottom: solid 1px #D5D8DC;
}
ul.tabs{
      margin: 0px;
      padding: 0px;
 list-style: none;
 width: 100%;
}
    ul.tabs li{
      background: none;
      color: #222;
      display: inline-block;
      padding: 10px 15px;
      cursor: pointer;
    }

    ul.tabs li.current{
      background: #498bcf;
      color: white;
    }

    .tab-content{
      display: none;
      background: #FDFEFE;
      padding: 15px;
      width: 100%;
    }

    .tab-content.current{
      display: inherit;
    }
  .btns3{
    background-color: #498bcf;
    color: white;
    float: right;
    margin-top: -35px;
    padding: 0;
    /* border-bottom: 2px; */
    border-radius: 6px;
  }
   
/*----------------------------------------------------------------*/
/*Seccion4/
 /*flexbox------seccion4*/
.flexbox4{ /*padre*/
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:center; 
}
/*flexboxhijo--seccion1*/
.box4{ /*hijo*/
  flex-shrink: 0;
  width: 100%;
}
.div4{
    width: 100%;
}
.image4{
    position:relative;
    background: url('../img/img_33.jpg') no-repeat fixed;
    background-position: center center; 
    width: 100%;
    height: 500px;
}
.isma{
      width: 4%;
    border-radius: 97%;
}
.img-tri{
  width: 100%;
}

/*----------------------------------------------------------------*/
/*Seccion0/
.flexbox4{ /*padre*/
.flexbox0{ /*padre*/
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:center; 
}
/*flexboxhijo--seccion1*/
.box0{ /*hijo*/
  flex-shrink: 0;
  width: 100%;
  background-color: #498bcf;
}
.img0{
  width: 100%;
     position: relative;
    top: -20px;
    left: -20px;
}
#triangulo-blue{
  background-color: #498bcf;
  position: relative;
}
#triangulo-blue:before{
      content: "";
    height: 175px;
    width: 100%;
    background: url('../img/img_triangleBefore.png')no-repeat;
    position: absolute;
    background-size: cover;
    top: -175px;
    left: 0;
}
.image0{
    width: 50%;
    /*background-color: white;*/
       float: left;
        position: relative;
    top: -20px;
    left: -20px;   
}
.div0{
    width: 100%;
    height: 500px;
    background-color: #498bcf;
}
.div0-1{
  width: 41%;
    background-color: white;
    float: left;
    padding: 20px;
    /* padding: 30px; */
    margin: 50px;  
}
.div0-2{
       width: 40%;
    background-color: white;
    float: right;
    margin: 50px;
    padding: 24px;
}
.text0{
    width: 50%;
   /* background-color: red;*/
    float: right;
   
}
.btn0{
  background-color: #498bcf;
  border-radius: 5px;
  width: 60%;
  padding: 10px;
}
.ct-0{
      border-left: 3px solid #fff;
    padding: 10px 0 10px 20px;
        margin: 40px;
}
.ct-u0{
  color: #ffffff;
      margin-bottom: 10px;
      text-transform: uppercase;
          font-size: 22px;
}
.colorblue0{
  font-size: 14px;
    line-height: 26px;
    margin: 0;
    color: #bbddff;
}


/*----------------------------------------------------------------*/
/*Seccion5/
 /*flexbox------seccion5*/
.flexbox5{ /*padre*/
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:center; 
}
/*flexboxhijo--seccion1*/
.box5{ /*hijo*/
  flex-shrink: 0;
  width: 100%;
}
.img5{
  width: 100%;
     position: relative;
    top: -20px;
    left: -20px;
}
.image5{
    width: 50%;
    /*background-color: white;*/
       float: left;
        position: relative;
    top: -20px;
    left: -20px;   
}
.div5{
    width: 100%;
    height: 500px;
    background-color: #498bcf;
}
.div5-1{
  width: 41%;
    background-color: white;
    float: left;
    padding: 20px;
    /* padding: 30px; */
    margin: 49px;

}
.div5-2{
    width: 41%;
    background-color: white;
    float: right;
    padding: 20px;
    /* padding: 30px; */
   margin: 49px;  
}
.text5{
    width: 50%;
   /* background-color: red;*/
    float: right;
   
}
.btn5{
  background-color: #498bcf;
  border-radius: 5px;
  width: 60%;
  padding: 10px;
}

/*----------------------------------------------------------------*/
/*Seccion6*/
.flexboxs6{ /*padre*/
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:center; 
}
/*flexboxhijo--seccion1*/
.boxs6{ /*hijo*/
  flex-shrink: 0;
  width: 100%;
  border-bottom: solid 1px #D5D8DC;
}
.divs6{
    width: 100%;
   /* background-color: red;*/

}
.images6{
width: 30%;
/*background-color: blue;*/
float: left;
}
.imgs6{
  width: 20%;
  border-radius: 50%;
  margin: 20px;
}
.texts6{
  width: 70%;
  float: right;
      padding: 20px;
/*  background-color: orange;*/
}
.bordes{
  border-bottom: solid 1px #D5D8DC;
  padding: 10px;
  color:  #498bcf;
}
.reviews{
        color: #498bcf;
    margin: 50px;
    margin: 20px;
    padding: 30px;
        font-size: 28px;
}
.txtsblue{
color: #498bcf;
}
/*----------------------------------------------------------------*/
/*Seccion7*/
.flexboxs7{ /*padre*/
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:center; 
}
/*flexboxhijo--seccion1*/
.boxs7{ /*hijo*/
  flex-shrink: 0;
  width: 100%;
}
.divs7{
    width: 100%;
/*    background-color: red;*/
    margin-left: 4%;
}
.input-tamano{
  width: 20%;
  padding: 9px;
  border-radius: 9px;
}
.input-msj{
  width: 30%;
  padding: 20px;
  border-radius: 9px;
}

.btns7{
 background-color: #498bcf;
 width: 10%;
 padding: 9px;
 border-radius: 9px;
  color: white;
}
/*----------------------------------------------------------------*/
/*Seccion8*/
.flexboxs8{ /*padre*/
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:center; 
}
/*flexboxhijo--seccion1*/
.boxs8{ /*hijo*/
      flex-shrink: 0;
    width: 23%;
    padding: 7px;
}
.divs8{
  margin-right: 0px;
/* background-color: red;*/
}
.marg{
  margin-left: 0px;
} 
div#imagen {
    background-size: 100%;
    width: 100%;
    margin: 0.5%;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
     height: 418px;
      background-repeat: no-repeat;
}
.bc{
  background-image: url('../img/square1.jpg');
}
.bc2{
    background-image: url('../img/square2.jpg');
}
.bc3{
    background-image: url('../img/square3.jpg');
}
.bc4{
    background-image: url('../img/square4.jpg');
}

div#info {
    position: absolute;
    overflow: hidden;
    width: 100%;
    background-color: rgba(31, 31, 31, 0.01);
    opacity: 0;
    transition: opacity 0.3s;
     height: 200px;
}
div#imagen:hover{
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

div#imagen:hover div#info {
  opacity:1;
}
div#imagen:hover div#info {
  opacity:1;
}

p#headline{
  position: absolute;
  font-size: 20px;
  margin: 40px;
}
button#headline {
    top: 90%;
    width: 100%;
}

div#imagen:hover p#headline {
margin: 0 auto;  

}

/*.img8{
      width: 23%;
    margin: 0.5%;
    transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
    filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}
.img8:hover{
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}*/

/*----------------------------------------------------------------*/
/*Seccion9*/
.flexboxs9{ /*padre*/
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:center; 
  position: relative;
}
/*flexboxhijo--seccion1*/
.boxs9{ /*hijo*/
  flex-shrink: 0;
  width: 100%;
   background-color: #498bcf;
       height: 530px;
}
.divs9{
     width: 100%;
    margin: 0 auto;
    z-index: 4;
    position: relative;
        padding: 20px;
}
.texts9{
  margin: 0 auto;
  width: 70%;
}
.bordes9{
 border-bottom: solid 1px #ffffff;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    color: white;
}
.input{
    width: 90%;
    /* background-color: white; */
    border-radius: 3px;
    position: relative;
    margin: 0 auto;
}


.input:focus{

}


.fa-envelope {
     width: 6%;
    font-size: 29px;
    /* border-radius: 31%; */
    border-radius: 46%;
    color: white;
    margin: 4px;
    top: 9px;
    left: 5px;
    background-color: darkgray;
    padding: 7px;
    position: absolute;
}
.msj{
 width: 75%;
    padding: 25px 10px;
    border: solid 1px white;
    outline: none;
    padding-left: 100px;
}

.btns9{
width: 20%;
    /* padding: 11px; */
    background: transparent;
    color: white;
    padding: 27px;
    border-radius: 6px;
    /* margin: 4px; */
    /*background-color: #498bcf;*/
}
.btns9:hover {
    width: 20%;
    /* padding: 11px; */
    background: transparent;
    color: white;
    padding: 27px;
    border-radius: 6px;
    /* margin: 4px; */
    background-color: #498bcf;
}

.aling{
color: white;
    margin: -19px 83px;
}
.listas9{
  list-style: none;
}
.icons9{
      font-size: 23px;
    background: #5fa1e5;
    color: white;
    padding: 17px;
    border-radius: 18px;
    width: 52px;
}
.imgs9{
    max-width: 100%;
    position: absolute;
    bottom: 211px;
    right: 100px;
}
.ct-u-z-index3 {
    z-index: 3;
}
.divlist{
  width: 100%;
 /* background-color: red;*/
}

.txts{
    margin: 20px;
    color: white;
}



/*Medias-Responsive*/
@media screen and (max-width: 795px) {
  .container1 {
    margin: 0 auto;
    width: 100%;
}
.fa-envelope {
    width: 9%;
    font-size: 29px;
    /* border-radius: 31%; */
    border-radius: 46%;
    color: white;
    margin: 4px;
    top: 9px;
    left: 5px;
    background-color: darkgray;
    padding: 6px;
    position: absolute;
}
.div0-1 {
       width: 42%;
    background-color: white;
    float: left;
    padding: 8px;
    padding: 8px;
    margin: 30px;
}
.div0-2 {
      width: 42%;
    background-color: white;
    float: left;
    padding: 8px;
    padding: 8px;
    margin: 30px;
}
.div5-1 {
     width: 42%;
    background-color: white;
    float: left;
    padding: 8px;
    padding: 8px;
    margin: 30px;
}
.div5-2 {
     width: 42%;
    background-color: white;
    float: left;
    padding: 8px;
    padding: 8px;
    margin: 30px;
}
div#imagen {
    background-size: 100%;
    width: 100%;
    margin: 0.5%;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    height: 250px;
    background-repeat: no-repeat;
}

} 
  
@media screen and (max-width: 480px) {
  .box3 {
    flex-shrink: 0;
    width: 100%;
}
.div3-1 {
    width: 100%;
    float: right;
    background: #498bcf;
}
.reviews {
    color: #498bcf;
    margin: 50px;
    margin: 0px;
    padding: 30px;
    font-size: 28px;
    margin-top: 78%;
}
.box8{ /*hijo*/
      flex-shrink: 0;
    width: 100%;
    padding: 7px;
}
.div0-1 {
    width: 90%;
    background-color: white;
    padding: 8px;
    padding: 8px;
    margin: 30px;
}
.img0 {
    width: 100%;
    position: relative;
    top: -14px;
    left: 3px;
}

.div0-2 {
   width: 90%;
    background-color: white;
    padding: 8px;
    padding: 8px;
    margin: 30px;
}
.div5-1 {
   width: 90%;
    background-color: white;
    padding: 8px;
    padding: 8px;
    margin: 30px;
}
.div5-2 {
   width: 90%;
    background-color: white;
    padding: 8px;
    padding: 8px;
    margin: 30px;
}
.div5 {
    width: 100%;
    height: 800px;
    background-color: #498bcf;
}
.img5{
  width: 100%;
    position: relative;
    top: -14px;
    left: 3px;
}
.img6 {
    width: 59%;
    border-radius: 50%;
    margin: 20px;
}
.isma {
    width: 20%;
    border-radius: 97%;
}
.borde9 {
    border-bottom: solid 1px #ffffff;
    width: 70%;
    margin: 0 auto;
    /* padding: 20px; */
    color: white;
}
.box9 {
    flex-shrink: 0;
    width: 100%;
    background-color: #498bcf;
    height: 1000px;
}
.img9 {
    max-width: 100%;
    position: absolute;
    bottom: 671px;
    right: 3px;
}
.div9 {
    width: 100%;
    margin: 0 auto;
    z-index: 4;
    position: relative;
    pad: ;
    /* padding: 20px; */
}
.aling {
    color: white;
    margin: -27px 62px;
}
.fa-envelope {
    width: 15%;
    font-size: 29px;
    /* border-radius: 31%; */
    border-radius: 46%;
    color: white;
    margin: 4px;
    top: 9px;
    left: 5px;
    background-color: darkgray;
    padding: 6px;
    position: absolute;
}

}
 


















